.format-edges {

margin: 150px;
display: block;
  
}



h2 {
  font-family: fantasy;
  color: #222222;
  font-size: 120px;
}

body {
  background: #000000;
  background-color: #000000;
}

canvas{
  position:absolute;
  left:0;
  top:0;
  z-index:-2;

}